.alrtecontainer {
  height: 90vh;
  width: 100%;
  position: relative;
}
.alertContent {
  position: absolute;
  width: 100%;
  top: 30%;
}
.upTriangle {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid black;
}
.downTriangle {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid black; /* Change color as needed */
}
